<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>FREEBOARD WRITE</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2>Free Board Write</h2>
      <form action="/board/freeBoardWrite" method="post" class="mt-5" style="z-index:99">
          <input type="hidden" name="no" th:value="${session.loggedMember.no}">
          <div><input type="text" placeholder="Title" name="freeTitle" /></div>
          <div><input type="text" placeholder="Contents" name="freeContents" /></div>
          <div><button type="submit">submit</button></div>
      </form>
      </div>
      <script></script>
    </div>
  </body>
</html>
