<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>VIPBOARD</title>
  </head>
  <body>
    <div class="container formContainer" id="contents" layout:fragment="contents">
      <div id="boardSending">
        <h2>Vip Board</h2>
        <table class="table table-striped mt-5">
          <thead>
            <colgroup>
              <col style="width: 10%" />
              <col style="width: 20%" />
              <col style="width: 30%" />
              <col style="width: 40%" />
            </colgroup>
            <tr class="text-center">
              <th>No</th>
              <th>Writer</th>
              <th>Title</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${vipList}" class="text-center">
              <td><span th:text="${itemStat.count}"></span></td>
              <td>
                <span><!--작성자이름--></span>
              </td>
              <td><a href="" th:href="@{/board/vipboardview(no=${item.vipNo})}" th:text="${item.vipTitle}">제목</a></td>
              <td th:text="${item.vipRegDate}">날짜</td>
            </tr>
          </tbody>
        </table>
        <a href="/board/vipboardwrite" class="sessionCheck vipCheck"><button class="btn btn-primary btn-lg">WRITE</button></a>
      </div>
    </div>
    <script></script>
  </body>
</html>
