<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>VIPBOARD</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2>Vip Board</h2>
      <table class="table table-striped mt-5">
        <thead>
          <tr class="text-center">
            <th>Title</th>
            <th>Writer</th>
            <th>Contents</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td th:text="${vipBoardDto.vipTitle}">Title</td>
            <td th:text="${memberDto.userNickname}">Writer</td>
            <td th:text="${vipBoardDto.vipContents}">Contents</td>
            <td th:text="${vipBoardDto.vipRegDate}">Date</td>
            <td><a href="" th:href="@{/board/vipboardmodify(no=${vipBoardDto.vipNo})}">Modify</a></td>
            <td><a href="" th:href="@{/board/vipboarddelete(no=${vipBoardDto.vipNo})}">Delete</a></td>
          </tr>
        </tbody>
      </table>
      </div>
      <script></script>
    </div>
  </body>
</html>
